/* General styles */
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

input {
  border: none;
  outline: none;
  display: block;
}

label{
  display: block;
}

input:focus {
  outline: none;
}

input:active {
  outline: none;
}

input:visited {
  outline: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a,
button,
li:hover {
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

button {
  border: none;
  font-weight: 100;
  display: inline-block;
}

/* Table styles */
table {
  border-collapse: collapse;
}

th,
td {
  padding: 0;
  border: 1px solid #ddd;
}

/* Heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bold;
}
