/* Typography settings */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Body font */
body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Headings */

h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 4rem;
  font-weight: 500;
  color: var(--color-black);
  font-weight: normal;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  line-height: 1.3;
}

h3 {
  font-size: 1.8rem;
  line-height: 1.4;
}

/* Paragraphs */
p,
li {
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1.6;
}
