@use "@/styles/partials/mixins" as mixins;

.header {
  height: 7rem;

  border-bottom: 1px solid #ccc;

  @include mixins.centerElement();
  position: sticky;
  top: 0;
  background: white;
  z-index: 5;
}

.nav,
.nav__ul {
  @include mixins.centerElement(space-between);
}

button {
  cursor: pointer;
  border: none;
  font-size: 1.4rem;
  color: inherit;
}

.nav {
  width: 90%;
  height: 100%;

  &__ul {
    gap: 1.5rem;
  }

  &__cta {
    @include mixins.button-style(black, white);
    cursor: pointer;
  }
}
