/* Custom Imports */
@import url("./Base/reset.css");
@import url("./Base/typography.css");
@import url("./layouts/index_header.css");
@import url("./utilities/general.css");
@import url("./utilities/animation.css");
@import url("./Components/post.css");

body {
  background: var(--color-index-background);
  min-height: 100vh;
}

/* PSEUDO STYLING FOR THE BODY, GETS ACTIVATED WITH JS */
body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 754px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  display: none;
  z-index: 10;
}

/* PREVENT THE BODY FROM SCROLLING WHEN MODAL IS OPEN (ADDED WITH JS) */
body.body__prevent-scroll {
  overflow: hidden;
}

body.modal-active::before {
  display: block;
}

/* MAIN CONTAINER */
.main {
  /* flex: 1; */
  /* padding-top: 3rem; */
  /* background: red; */
  position: relative;
  min-height: 81vh;
}

.main__left {
  padding: 5rem 1rem 1rem 2rem;
}

/* h1: 30px */
/* p:  14px*/

.main__left h1 {
  font-size: 8rem;
  font-weight: 300;
}

.main__left h1:last-of-type {
  margin-bottom: 2rem;
}
.main__left p {
  margin-bottom: 3rem;
  font-size: 1.6rem;
}

.main__left button {
  background: black;
  padding: 1.4rem 8rem;
  color: white;
  font-size: 1.6rem;
  box-shadow: 8px 3px 6px rgba(0, 0, 0, 0.9);
  align-self: flex-start;
}

.footer--mobile {
  display: flex;
  gap: 1rem;
  padding: 2rem 0 2rem 2rem;
  background: black;
  color: white;
}

/* hide right side bar */
.main__right {
  display: none;
}
/* hide footer for Desktop and larger screeens */
.footer--desktop {
  display: none;
}

.main__addition-content {
  display: none;
}
/* h1: 80px */
/* p:  16px*/
/* SMALL SCREENS */
@media screen and (min-width: 565px) and (max-width: 900px) {
  html {
    font-size: 87.5%;
  }

  .nav li {
    font-size: 1.2rem;
  }

  .main {
    /* background: yellow; */
    display: flex;
    align-items: center;
  }

  .main__left {
    padding: 3rem 2rem 0 4rem;
  }
  .main__left h1 {
    font-size: 8.5rem;
    letter-spacing: 0.5mm;
  }

  .main__left h1:last-of-type {
    margin-bottom: 1rem;
  }

  .main__left p {
    color: black;
  }
}

/* XTRA LARGE SCREENS*/
@media screen and (min-width: 900px) {
  .footer--mobile {
    display: none;
  }

  .footer--desktop {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    color: black;
    /* background: black; */
    justify-content: center;
  }

  .main {
    display: flex;
    /* background: yellow; */
    justify-content: space-between;
    margin-bottom: 1rem;
    min-height: 81vh;
    /* border-bottom: 1px solid black; */

    overflow: hidden;
  }
  .main__left {
    /* background: blue; */
    padding: 0 2rem 0 8rem;
    align-self: center;
    flex: 0 0 69%;
    min-width: max-content;
  }

  .main__left h1 {
    font-size: 13rem;
    white-space: nowrap;
    line-height: 1;
  }

  .main__right {
    display: block;
    /* background: green; */
    flex: 0 0 31%;
    /* flex: 0 0 446.391px; */
    min-width: 446.391px;
  }

  .trend {
    background: black;
    /* height: 80vh; */
    color: white;
    scroll-behavior: smooth;
    padding-bottom: 4rem;
    /* margin-bottom: 2rem; */
  }

  .trend__content {
    width: 90%;
    margin: 0 auto;
    padding-top: 4rem;
  }

  .trend__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .trend__title h1 {
    color: white;
    line-height: 1.1;
    letter-spacing: 0.5mm;
    font-size: 4rem;
  }

  .trend__title p {
    font-size: 1.6rem;
    line-height: 1.1;
    letter-spacing: 0.3mm;
  }

  .trend__more,
  .rotate-svg {
    background: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
    cursor: pointer;
  }

  .trend-post__num h1 {
    color: rgb(135, 118, 118);
    font-size: 8rem;
    font-weight: bolder;
  }

  .trend-post__author {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.6rem;
    color: #e0d4d4;
  }

  .trend-post__title h1 {
    color: white;
    color: black;
    /* font-size: 4rem; */
    font-size: 2.3rem;
    font-weight: bolder;
    margin-bottom: 1rem;
  }
  .trend-post__figcaption {
    display: flex;
    gap: 0.4rem;
    color: #e6e6e6;
  }

  /* .trend-post__figcaption p{
    color: #3333;
  } */

  .trend-post__figcaption img {
    width: 2.1rem;
  }

  .trend-figure {
    width: 40px;
    height: 40px;
    /* padding: 0.3rem; */
    /* border: 1px solid #ccc; */
    display: flex;
  }

  .trend-post__author img {
    clip-path: circle();
  }

  .trend__posts {
    /* background: red; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-content: center;
    place-content: center;
    gap: 1rem;
    /* width: 85%; */
    margin: 0 auto;
  }

  /* trend POST */
  .trend-post {
    background: var(--color-index-background);
    padding: 1rem 1rem 1rem 1.2rem;
    border: 20px solid #ccc;
    border-radius: 10px;
    /* max-width: 400px; */
  }

  .trend-post:first-child {
    background: rgb(29, 62, 93);
    /* background: rgb(19, 58, 58); */
  }

  .trend-post:nth-child(2) span,
  .trend-post:last-child span {
    color: black;
  }

  .trend-post:nth-child(2) p,
  .trend-post:last-child p {
    color: #333;
  }
  /* 
   .trend-post span{
    color: black;
   } */

  .trend-post:first-child h1 {
    color: white;
  }

  /* .trend-post:last-child */
  .trend-post:nth-child(3) {
    /* background: rgb(7, 46, 21); */
    background: rgb(19, 58, 58);
  }

  .trend-post:nth-child(3) h1 {
    color: white;
  }

  .trend-post__date {
    color: #e6e6e6;
  }

  /* article footer */
  .trend-post__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: green; */
  }

  .trend-post__footer button {
    background: none;
    border: none;
  }

  /* article footer left */
  .trend-post__footer-left {
    display: flex;
    gap: 2rem;
  }

  .trend-post__footer-left > div {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 1.3rem;
  }

  /* article footer right */
  .trend-post__footer-right {
    display: flex;
    align-items: center;
  }

  .trend-post__footer-right button:not(:last-child) {
    margin-right: 2rem;
  }

  .trend-post__num {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .trend-icon {
    font-size: 2rem;
    color: #f8cfcf;
  }


}

.rotate-svg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  width: 30px;
  background: none;
}

.rotate-svg svg {
  transform: rotate(90deg);
}

.trend-scroll {
  scroll-behavior: smooth;
}

/* ------------------------------------ INSIDE BLOG ------------------------------- */

.post-container {
  background: white;
}

.story__header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 4rem;
  margin-bottom: 4rem;
}



.story__header h1 {
  font-size: 4rem;
}

.story__header p {
  font-size: 1.7rem;
  font-weight: 100;
  margin-bottom: 4rem;
  color: #4d4a4a;
}

.subscribe{
  /* background: red; */
  position: relative;
  margin-bottom: 4rem;

}

.subscribe input {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 1.5rem 11rem 1.5rem 1.5rem;
  width: 40rem;
}

.subscribe__btn{
  background: black;
  color: white;
  padding: 1rem 2rem;
  border: none;
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 20px;
  font-size: 1.3rem;
  cursor: pointer;
}

/* ------------------------------------ POST ------------------------------- */

.post {
  width: 90%;
  padding-top: 0;
}

.post-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.post-wrapper__left {
  width: 60%;
}

.post-wrapper__right {
  width: 35%;
  background: green;
  height: 10vh;
}

/* ------------------------------------ MAIN POST ------------------------------- */

/* .main-post .post__body {
  width: 100%;
}

.main-post {
  flex-direction: column-reverse;
}

.main-post figure:last-child {
  background: blue;
  width: 100%;
  height: 40rem;
  margin-bottom: 2rem;
}

.main-post figure:last-child img {
  object-fit: cover;
} */

.post__content .post__header{
  display: none;
  
}


.post:nth-child(1) .post__content .post__header{
  display: flex;
  
}

.post:nth-child(1) .post__content {
  flex-direction: column-reverse;
  /* background: green; */
}


.post:nth-child(1) figure:last-child {
  /* background: blue; */
  width: 100%;
  height: 40rem;
  margin-bottom: 2rem;
}

.post:nth-child(1) .post__body{
  /* background: red; */
  width: 100%;
}


.post:nth-child(1){
  /* background: red; */
  display: flex;
  flex-direction: column;
}

.post:nth-child(1) .post__body-figure{
  background: purple;
  order: 3;
}

.post:nth-child(1) .post__header{
  /* background: green; */
  order: 2;
}

.post:nth-child(1) .post__body{
  /* background: yellow; */
  order: 1;
}



