/* Custom Imports */
@import url("./Base/reset.css");
@import url("./Base/typography.css");
@import url("./layouts/index_header.css");
@import url("./utilities/general.css");
@import url("./utilities/animation.css");

/* rgb(235,239,241) */
/* rgb(255,255,255) */
/* rgb(74,97,108) */
body {
  background: var(--color-index-background);
}

body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  display: none;
  z-index: 10;
}

body.modal-active::before {
  display: block;
}
a{
  text-decoration: underline;
}

/* main container */
.main {
  width: var(--container-width-xl);
  margin: var(--center-container);
  height: 80vh;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-black);
  position: relative;
}

/* main left sidebar */
.main__left-sidebar {
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6rem;
}

.main__left-sidebar--write-btn {
  align-self: flex-start;
}

/* target every element except the first and last child */
.main__left-sidebar > *:not(:last-child, :first-child) {
  margin-bottom: 4rem;
}

.main__left-sidebar h1 {
  font-family: "Times New Roman", Times, serif;
  line-height: 1;
  font-size: 12rem;
  font-weight: bolder;
  color: rgb(36, 36, 36);
}

.main__left-sidebar p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-black);
  letter-spacing: 0.3mm;
}

.main__left-sidebar--write-btn {
  padding: 1.3rem 6rem;
  font-size: 1.8rem;
  border-radius: 40px;
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.3mm;
  background: var(--color-black);
}

/* footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* background: blue; */
  height: 5.6vh;
  font-size: 1.2rem;
}

/* Modal */
.auth-modal {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  width: 600px;
  height: 90%;
  background-color: var(--color-white);
  animation: zoom-in 0.2s ease-out forwards;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 11;
}

.auth-modal__desc {
  height: 35%;
  /* background: green; */
}

.auth-modal__cancel {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  /* background: red; */
}

.auth-modal__heading {
  /* background: blue; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-modal__heading h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 4rem;
  font-weight: 500;
  color: var(--color-black);
}

/* social authentication */

.social-auth {
  /* background: red; */
  height: 40%;
}

.social-auth div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-auth div:not(:last-child) {
  margin-bottom: 1.3rem;
}

.social-auth > div:nth-child(3) {
  margin-bottom: 4rem;
}
.social-auth__item button svg {
  margin-right: 4rem;
}
.social-auth__item button {
  padding: 1rem 6rem 1rem 1rem;
  width: 50%;
  font-size: 1.4rem;
  border-radius: 40px;
  color: var(--color-black);
  letter-spacing: 0.3mm;
  display: flex;
  align-items: center;
  background: var(--color-white);
  border: 1px solid var(--color-black);
}

.social-auth__has-account span {
  color: var(--color-success);
  cursor: pointer;
}

.social-auth__agreement {
  text-align: center;
  margin-top: 6rem;
}

.social-auth__agreement a {
  text-decoration: underline;
}



/* Email Authentication */

.email-auth-modal {
  height: 100%;
}

.email-auth-modal div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email-auth-modal .email-auth__desc {
  padding-top: 10rem;
  margin-bottom: 6rem;
}

.email-auth__desc h1 {
  margin-bottom: 2rem;
}

.email-auth__desc p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-black);
}

.email-auth__form label {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.email-auth__form input {
  padding: 1.3rem 0;
  width: 45%;
  font-size: 1.4rem;
  border-radius: 5px;
  margin-bottom: 4rem;
  background: #f7f4ed;
  text-align: center;
}

.email-auth__form button {
  padding: 1.3rem 8rem;
  font-size: 1.4rem;
  border-radius: 40px;
  color: var(--color-white);
  font-weight: 400;
  background: var(--color-black);
  margin-bottom: 4rem;
}

.email-auth__signup-options {
  color: var(--color-success);
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: 400;
  margin-bottom: 6rem;
}

.trouble-shoot{
  text-align: center;
  /* margin-bottom: 2rem; */
}


/* hide google button for traditional email authentication */
/* close modal */
.auth-modal--hide {
  display: none;
}
.email-auth-modal .email-auth__google-btn {
  margin-bottom: 2rem;
  display: none;
}
