
/* profile dropdown */

.dropdown {
    /* display: none; */
    /* background: blue; */
    color: white;
    position: absolute;
    top: 61.3124px;
    right: 20px;
    width: 302.398px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
    /* z-index: 10000; */
    background: white;
  }
  
  .dropdown > div:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  .dropdown > div {
    padding: 1rem;
  }
  
  .dropdown > div p {
    /* background-color: green; */
    /* margin-bottom: 2rem; */
    padding-bottom: 0.85rem;
  }
  
  .dropdown a {
    color: #232222;
    text-decoration: none;
  }
  
  .dropdown-profile-link {
    /* background-color: red; */
    margin: 2rem 0;
  }
  
  .dropdown-profile-link a {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    text-decoration: none;
    margin-bottom: 1.2rem;
    font-size: 1.3rem;
    /* color: black; */
  }
  
  .dropdown-settings-link {
    /* background: green; */
    margin-bottom: 2rem;
  }
  
  .dropdown-settings-link div {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: normal;
  }
  
  .dropdown-membership-link {
    /* background: lime; */
    margin-bottom: 2rem;
  }
  
  .dropdown-membership-link > div {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: normal;
  }
  
  .dropdown-membership-link div:first-child a {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .dropdown-membership-link div a svg {
    width: 20px;
  }
  
  /* dropdown sign out link */
  .dropdown-signout-link {
    /* background: gray; */
    padding-bottom: 2rem;
  }
  
  .dropdown-signout-link > div {
    margin-bottom: 2rem;
    /* padding-bottom: 2rem; */
  }
  
  .dropdown-signout-link div a p {
    /* margin-bottom: .7rem; */
    /* display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none; */
  }
  
  .dropdown.hidemodal {
    display: none;
  }
  