@keyframes zoom-in {
  from {
    transform: translate(-50%, -50%) scale(0.9);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0) rotate(90deg);
  }
  40% {
    transform: translateY(-10px) rotate(90deg);
  }
  60% {
    transform: translateY(-12px) rotate(90deg);
  }
}
