
/* blog post */
.blog-container {
    border-bottom: 1px solid #eee;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .user-img {
    height: 30px;
    width: 30px;
  }
  
  .user-img img {
    border-radius: 50%;
    width: 100%;
  }
  
  .user-name span {
    font-size: 1.2rem;
    font-weight: 100;
  }
  
  .blog-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .blog-content {
    width: 65%;
  }
  
  .blog-sidebar {
    width: 23%;
  }
  
  .blog-img {
    width: 100%;
    object-fit: cover;
  }
  
  .blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .details-title h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin: 0 0 1rem;
    line-height: 1.2;
    text-transform: capitalize;
    letter-spacing: 0.05em;
  }
  
  .details-subtitle {
    font-size: 1.25rem;
    color: #666;
    margin: 0 0 2rem;
    line-height: 1.5;
    text-transform: none;
    letter-spacing: normal;
  }
  
  .details-subtitle h4 {
    font-weight: normal;
  }
  
  .details-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cta-right,
  .cta-left {
    display: flex;
    gap: 2rem;
  }
  
  .comment,
  .clap-icon {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
  
  .created-at {
    align-self: center;
  }
  
  .created-at span,
  .comment span,
  .clap-icon span {
    color: #8c7e7e;
    font-weight: bold;
    font-weight: normal;
    font-size: 1.2rem;
  }