.home-dropdown {
  position: absolute;
  right: 2rem;
  top: 6rem;
  width: 25rem;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  & > div {
    padding: 2rem;
  }
}

.hide-dropdown {
  display: none;
}

.dropdown__header {
  & > div {
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;

    p {
      font-size: 1.4rem;
      color: grey;
    }
  }

  & > div:not(:last-child) {
    margin-bottom: 2rem;
  }

  border-bottom: 1px solid #cccc;
}

.dropdown__body {
  & > p {
    color: gray;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    cursor: pointer;

  }

  border-bottom: 1px solid #cccc;
}

.dropdown__footer {
  color: gray;
}
