@import url("../../Base/reset.css");
@import url("../../Base/typography.css");
@import url("../../utilities/general.css");

/* ------------------------------------------------ HEADER ---------------------------------- */
.header {
  padding: 1rem 0;
}

.header {
  border-bottom: 1px solid #eee;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

/* ---------------------- RIGHT SIDE OF THE NAV BAR---------------------------------- */
.header__items {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header__notification {
  margin-top: 0.4rem;
}

.header__profile {
  /* background: red; */
  border: 1px solid black;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  padding: 0.2rem;
}

.header__profile img {
  border-radius: 50%;
}

.header__write {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0.3rem 1.5rem;
  gap: 0.9rem;
  font-size: 1.5rem;
}

/* ------------------------------------------------ CONTAINER ---------------------------------- */

/* container */
.main {
  width: 95%;
  width: 90%;
  /* background: red; */
  margin: 0 auto;
  display: flex;
}

.article {
  border-right: 1px solid #eee;
  /* background: pink; */
  width: 80%;
  padding-top: 2rem;
}

.article__content {
  width: 95%;
}

/* --------------------------------------------- MAIN HEADER ---------------------------------- */

.article__header {
  border-bottom: 1px solid #eee;
  margin: 2rem 0;
}


/* -------------------------------- ARTICLE HEADER TOP ----------------------- */
.article__header--top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 4rem;
  overflow: hidden;
}

.article__search-div {
  position: relative;
}

.article__search-input {
  padding: 1rem 6rem 1rem 3.5rem;
  border-radius: 50px;
  border: 1px solid #ccc;
}

.article__search-svg {
  position: absolute;
  top: 7px;
  left: 10px;
}

.article__recommend ul {
  display: flex;
  gap: 1.5rem;
  white-space: nowrap;
  align-items: center;
}

.article__recommend ul li {
  background: #ccc;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  border: none;
}

/* -------------------------------- ARTICLE HEADER BOTTOM ----------------------- */

.article__header--botttom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.article__reommend-more {
  border: 1px solid #ccc;
  padding: 0.5rem 2rem;
  border-radius: 50px;
}

.article__reommend-more p {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.article__reommend-more p i {
  font-size: 1.2rem;
}

/* -------------------------------- ARTICLE POST ----------------------- */
.article__post {
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  margin-bottom: 4rem;
  /* background: red; */
}

/* article heading */
.article__post-heading {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.article__post-heading figcaption a{
  color: black;
}


.article__post-heading figcaption a:hover{
  cursor: pointer;
  border-bottom: 1px solid #ccc;
} 

/* article figure */
.article__post-figure {
  width: 3rem;
  height: 3rem;
}

.article__post-figure img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center bottom;
}




.article-content {
  display: flex;
  justify-content: space-between;
  /* background: magenta; */
  padding-bottom: 1.5rem;
}

/* article body */
.article__body {
  width: 70%;
  /* background: greenyellow; */
}

.article__body h1 {
  margin-bottom: 1rem;
}

.article__body p {
  margin-bottom: 2rem;
  color: #6b6b6b;
  font-weight: 400;
}

.article__content-img {
  width: 150px;
  height: 138px;
}

.article__content-img img {
  border-radius: 3px;
}

/* article footer */
.article__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: green; */
}

.article__footer button {
  background: none;
  border: none;
}

/* article footer left */
.article__footer-left {
  display: flex;
  gap: 2rem;
}

.article__footer-left > div {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 1.3rem;
}

/* article footer right */
.article__footer-right button:not(:last-child) {
  margin-right: 2rem;
}



/* -------------------------------- ASIDE CONTENT ----------------------- */

.aside {
  /* background: red; */
  width: 35%;
  margin: 2rem 0 0 4rem;
  padding-top: 2rem;

}

/* -------------------------------- ASIDE PREMIUM CARD ----------------------- */
.aside_premium-card {
  background: #f7f7f7;
  padding: 2.5rem;
  display: flex;
  border-radius: 20px;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.aside_premium-info p:first-child {
  font-weight: 900;
}

.aside_premium-info > * {
  margin-bottom: 0.5rem;
}

.aside_premium-info p:last-of-type {
  margin-bottom: 2rem;
}

.aside_premium-info button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 20px;
  background: #e7e7e7;
}

.aside__premium-image {
  width: 10rem;
  height: 8rem;
}

.aside__premium-image i {
  font-size: 3rem;
}

/* -------------------------------- ASIDE RECOMMEND PEOPLE ----------------------- */

.recommend {
  /* background: red; */
}
.recommend h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.recommend__person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.recommend__person-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.recommend__person-image {
  width: 66px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 0.2rem;
}

.recommend__person-image img {
  border-radius: 50%;
}

.recommend__person-details p {
  color: black;
  font-weight: 900;
}

.recommend__person-details span {
  font-size: 1.3rem;
  font-weight: 100;
  color: #333;
}

.recommend__person-action button {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 20px;
  background: #e7e7e7;
  font-size: 1.3rem;
}
