* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 62px;
  padding: 0 2rem;
  border-bottom: 1px solid rgb(226, 219, 219);
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

form {
  display: flex;
  align-items: center;
}

.search-svg {
  margin-right: -40px;
  z-index: 1;
  vertical-align: middle;
}
.nav-search {
  background: rgb(249, 249, 249);
  border: none;
  border-radius: 20px;
  padding: 0.9rem 6rem 0.9rem 4rem;
}

.nav-items-right {
  display: flex;
  gap: 3rem;
}

.notification {
  vertical-align: middle;
  top: -1rem;
}
.nav-input:focus {
  border: none;
  outline: none;
}
.nav-search:focus-visible {
  border: none;
  outline: none;
}

.write-icon {
  display: flex;
  align-items: center;
}

.write-icon span {
  font-size: 1.5rem;
}

.write-icon:hover {
  cursor: pointer;
}
.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.notification-icon {
  align-self: center;
}

/* section */

.container {
  display: flex;
  align-items: center;
  /* height: 100vh; */
}

.small-container {
  width: 78%;
  margin: 2rem auto;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.home {
  background-color: red;
  flex: 2;
}

.home-sidebar {
  background-color: blue;
  flex: 1;
}
